<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> App landing</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
</head>
<body>

            <form action="login" method="post">
                {% csrf_token %}
                <h2>Login Here</h2>
                    <label for="UserName">UserName</label>
                    <input  type="text" name="username" placeholder="UserName"><br>
                    <label for="Password">Password</label>
                    <input type="password" name="password" placeholder="Password">
                <div class="form-input pt-30">
                    <input type="submit">
                </div>

    <div>
        {% for message in messages %}
        <h3>{{ message }}</h3>
        {% endfor %}
    </div>
        </form>
    </main>
    </body>
</html>