<!doctype html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> App landing</title>

</head>
<body>
    <form action="register" method="post">
        {% csrf_token %}
            <h2>Registration Here</h2>
                <input type="text" name="first_name" placeholder="First name"></br>
                <input type="text" name="last_name" placeholder="Last name"></br>
                <input type="text" name="username" placeholder="User Name"></br>
                <input type="email" name="email" placeholder="Email Address"></br>
                <input type="password" name="password1" placeholder="Password"></br>
                <input type="password" name="password2" placeholder="Confirm Password"></br>
                <input type="submit">
    </form>
    <div>
        {% for message in messages %}
        <h3>{{ message }}</h3>
        {% endfor %}
    </div>
</body>
</html>